//--------------------------------------------------------------
// libs
//--------------------------------------------------------------

@import 'libs/reset';
@import 'libs/mixins';
@import 'libs/owl.carousel';

//--------------------------------------------------------------
// Fonts
//--------------------------------------------------------------

@import 'fonts/twcen';

//--------------------------------------------------------------
// Main Styles
//--------------------------------------------------------------

html, body {
	height: 100%;
	width: 100%;
	position: relative;
}

#app {
	height: 100%;
	width: 100%;
	position: relative;
	@include flexbox();

	h1 {
		font-size: 2rem;
	}
}

