//--------------------------------------------------------------
// Fonts
//--------------------------------------------------------------

@import 'libs/reset';
@import 'libs/mixins';

//--------------------------------------------------------------
// Fonts
//--------------------------------------------------------------

@import 'fonts/twcen';

//--------------------------------------------------------------
// Main Styles
//--------------------------------------------------------------

html, body {
	height: 100%;
	width: 100%;
	position: relative;
	font-family: 'TwCenMT-Regular', sans-serif;
}

#app {
	height: 100%;
	width: 100%;
	position: relative;
}

.wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;

	.title, .desc {
		padding-top: 2rem;
		font-size: 4rem;
		max-width: 600px;
		margin: auto;
	}

	.desc {
		font-size: 2rem;
		color: gray;
	}
}

.image-wrapper {
	display: inline-block;
	margin-top: 1rem;
	overflow: hidden;
	@include border-radius(100%);
	width: 128px;
	height: 128px;

	img {
		width: 128px;
		height: 128px;
	}
}

